name: C/C++ CI

on: [pull_request, push]

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
    - name: ls
      run: ls
    - name: pwd
      run: pwd
    - name: MSBuild
      working-directory: GOESP
      run: msbuild GOESP.vcxproj /p:Configuration=Release /p:Platform=Win32 /p:VisualStudioVersion=16.0 /v:m /p:OutputPath="D:\a\GOESP\GOESP\GOESP\Release\SSE2"
    - name: ls
      run: ls
    - name: pwd
      run: pwd
    - uses: actions/upload-artifact@v1
      with:
        name: Release
        path: GOESP/Release/SSE2/GOESP.dll
