name: Linux

on: [pull_request, push]

jobs:
  linux-build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Prepare to compile
      run: sudo apt-get update && sudo apt-get install -y libsdl2-dev gcc-10 g++-10
    - name: Configure to compile
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=gcc-10 -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload
      working-directory: Release
      run: mkdir ready && cp libGOESP.so ready/
    - name: SHA1
      working-directory: Release/ready
      run: sha1sum libGOESP.so > libGOESP.so.sha1
      
    - uses: actions/upload-artifact@v1
      with:
        name: GOESP Release Linux
        path: Release/ready
