name: Linux

on: [pull_request, push]

jobs:
  linux-build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Prepare to compile
      run: sudo apt-get update && sudo apt-get install -y libsdl2-dev gcc-10 g++-10
    - name: Configure to compile
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=gcc-10 -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload
      run: mkdir ready && cp Release/libGOESP.so ready/ && rm -rf Release
    - name: SHA1
      working-directory: ready
      run: sha1sum libGOESP.so > libGOESP.so.sha1
      
    - name: Configure to compile AVX
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release-D CMAKE_CXX_FLAGS=-mavx -D CMAKE_C_COMPILER=gcc-10 -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation AVX
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload AVX
      run: mkdir ready && cp Release/libGOESP.so ready/libGOESP_AVX.so && rm -rf Release
    - name: SHA1 AVX
      working-directory: ready
      run: sha1sum libGOESP_AVX.so > libGOESP_AVX.so.sha1
      
      
    - name: Configure to compile AVX2
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release-D CMAKE_CXX_FLAGS=-mavx2 -D CMAKE_C_COMPILER=gcc-10 -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation AVX2
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload AVX2
      run: mkdir ready && cp Release/libGOESP.so ready/libGOESP_AVX2.so && rm -rf Release
    - name: SHA1 AVX2
      working-directory: ready
      run: sha1sum libGOESP_AVX2.so > libGOESP_AVX2.so.sha1
      
    - uses: actions/upload-artifact@v1
      with:
        name: GOESP Release Linux
        path: ready
