name: Linux

on: [pull_request, push]

jobs:
  linux-build:
    name: Build (Linux) (BETA)
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prepare to compile
      run: sudo apt-get update && sudo apt-get install cmake  clang-10 libsdl2-dev
    - name: Configure to compile
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=clang-10 -D CMAKE_CXX_COMPILER=clang++-10 ..
    - name: Compilation
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload
      run: mkdir ready && cp Release/libGOESP.so ready/libGOESP_BETA_SSE2.so && rm -rf Release
    - name: SHA1
      working-directory: ready
      run: sha1sum libGOESP_BETA_SSE2.so > libGOESP_BETA_SSE2.so.sha1

    - name: Configure to compile AVX
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_FLAGS=-mavx CMAKE_C_COMPILER=clang-10 -D CMAKE_CXX_COMPILER=clang++-10 ..
    - name: Compilation AVX
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload AVX
      run: cp Release/libGOESP.so ready/libGOESP_BETA_AVX.so && rm -rf Release
    - name: SHA1 AVX
      working-directory: ready
      run: sha1sum libGOESP_BETA_AVX.so > libGOESP_BETA_AVX.so.sha1


    - name: Configure to compile AVX2
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_FLAGS=-mavx2 CMAKE_C_COMPILER=clang-10 -D CMAKE_CXX_COMPILER=clang++-10 ..
    - name: Compilation AVX2
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload AVX2
      run: cp Release/libGOESP.so ready/libGOESP_BETA_AVX2.so && rm -rf Release
    - name: SHA1 AVX2
      working-directory: ready
      run: sha1sum libGOESP_BETA_AVX2.so > libGOESP_BETA_AVX2.so.sha1

    - name: Push to Discord
      run: |
            cd ready
            tar -czvf "../GOESP BETA Linux (${{github.run_id}}).tar.gz" *
            cd ..
            curl -X POST -H 'Content-Type: multipart/form-data' -F 'file=@GOESP BETA Linux (${{github.run_id}}).tar.gz' ${{ secrets.DISCORD_HOOK }}
      shell: pwsh

    - uses: actions/upload-artifact@v2
      with:
        name: GOESP Release Linux
        path: ready
