name: macOS

on: [push, pull_request]

jobs:
  macos-build:
    name: Build (macOS) (BETA)
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set XCode 12
      run: sudo xcode-select -s /Applications/Xcode_12.app/Contents/Developer
    - name: Prepare to compile
      run: brew install sdl2
    - name: Configure to compile
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=clang ..
    - name: Compilation
      run: cd Release && make -j $(sysctl -n hw.ncpu)
    - name: Prepare to upload
      run: mkdir ready && cp -r Release/. ready/ && rm -rf Release

    - name: Configure to compile AVX
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_FLAGS=-mavx -D CMAKE_C_COMPILER=clang -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation AVX
      run: cd Release && make -j $(sysctl -n hw.ncpu)
    - name: Prepare to upload AVX
      run: cp Release/libGOESP.dylib ready/libGOESP_AVX.dylib && rm -rf Release
    - name: SHA1 AVX
      working-directory: ready
      run: shasum libGOESP_AVX.dylib > libGOESP_AVX.dylib.sha1
    
    
    - name: Configure to compile AVX2
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_CXX_FLAGS=-mavx2 -D CMAKE_C_COMPILER=clang -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation AVX2
      run: cd Release && make -j $(sysctl -n hw.ncpu)
    - name: Prepare to upload AVX2
      run: cp Release/libGOESP.dylib ready/libGOESP_AVX2.dylib && rm -rf Release
    - name: SHA1 AVX2
      working-directory: ready
      run: shasum libGOESP_AVX2.dylib > libGOESP_AVX2.dylib.sha1

    - name: Push to Discord
      run: |
            cd ready
            tar -cjvf "../GOESP BETA macOS (${{github.run_id}}).tar.bz2" *
            cd ..
            curl -X POST -H 'Content-Type: multipart/form-data' -F 'file=@GOESP BETA macOS (${{github.run_id}}).tar.bz2' ${{ secrets.DISCORD_HOOK }}
      shell: pwsh

    - uses: actions/upload-artifact@v2
      with:
        name: GOESP BETA macOS
        path: ready
