name: macOS

on: [push, pull_request]

jobs:
  macos-build:

    runs-on: macos-latest

    steps:    
    - uses: actions/checkout@v2
    - name: Prepare to compile
      run: brew install sdl2 gcc
    - name: Configure to compile
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_C_COMPILER=clang -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload
      run: mkdir ready && cp Release/libGOESP.dylib ready/ && rm -rf Release
    - name: SHA1
      working-directory: ready
      run: shasum libGOESP.dylib > libGOESP.dylib.sha1
      
    - name: Configure to compile AVX
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release-D CMAKE_CXX_FLAGS=-mavx -D CMAKE_C_COMPILER=clang -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation AVX
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload AVX
      run: cp Release/libGOESP.dylib ready/libGOESP_AVX.dylib && rm -rf Release
    - name: SHA1 AVX
      working-directory: ready
      run: shasum libGOESP_AVX.dylib > libGOESP_AVX.dylib.sha1
      
      
    - name: Configure to compile AVX2
      run: mkdir Release && cd Release && cmake -D CMAKE_BUILD_TYPE=Release-D CMAKE_CXX_FLAGS=-mavx2 -D CMAKE_C_COMPILER=clang -D CMAKE_CXX_COMPILER=g++-10 ..
    - name: Compilation AVX2
      run: cd Release && make -j $(nproc --all)
    - name: Prepare to upload AVX2
      run: cp Release/libGOESP.dylib ready/libGOESP_AVX2.dylib && rm -rf Release
    - name: SHA1 AVX2
      working-directory: ready
      run: shasum libGOESP_AVX2.dylib > libGOESP_AVX2.dylib.sha1
      
    - uses: actions/upload-artifact@v1
      with:
        name: GOESP Release macOS
        path: ready
