name: Windows

on: [pull_request, push]

jobs:
  windows-build:
    name: Build (Windows) (BETA)
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    - name: MSBuild SSE2
      working-directory: GOESP
      run: msbuild GOESP.vcxproj /p:Configuration=Release /p:Platform=Win32 /p:VisualStudioVersion=16.0 /v:m /p:OutDir="D:\a\GOESP\GOESP\GOESP\Release\SSE2\"
    - name: Rename SSE2
      working-directory: GOESP/Release/SSE2
      run: ren GOESP.dll GOESP_SSE2.dll
      shell: cmd
    - name: Move to one folder SSE2
      working-directory: GOESP
      run: |
            mkdir D:\a\GOESP\GOESP\GOESP\ready
            Copy-Item -Path D:\a\GOESP\GOESP\GOESP\Release\SSE2\GOESP_SSE2.dll -Destination D:\a\GOESP\GOESP\GOESP\ready\
            Remove-Item -LiteralPath "Release" -Force -Recurse
    - name: SHA1 SSE2
      working-directory: GOESP/ready
      run: sha1sum GOESP_SSE2.dll > GOESP_SSE2.dll.sha1
      
    - name: Rename AVX
      working-directory: GOESP
      run: 
          |
          ren GOESP.vcxproj GOESP_AVX.vcxproj
          ren GOESP.vcxproj.filters GOESP_AVX.vcxproj.filters
      shell: cmd
    - name: Prepare AVX
      working-directory: GOESP
      run: |
            ((Get-Content GOESP_AVX.vcxproj -Raw) -replace '<EnableEnhancedInstructionSet>StreamingSIMDExtensions2</EnableEnhancedInstructionSet>','<EnableEnhancedInstructionSet>AdvancedVectorExtensions</EnableEnhancedInstructionSet>') | Set-Content GOESP_AVX.vcxproj
      shell: pwsh
    - name: MSBuild AVX
      working-directory: GOESP
      run: msbuild GOESP_AVX.vcxproj /p:Configuration=Release /p:Platform=Win32 /p:VisualStudioVersion=16.0 /v:m /p:OutDir="D:\a\GOESP\GOESP\GOESP\Release\AVX\"
    - name: Move to one folder AVX
      working-directory: GOESP
      run: |
            Copy-Item -Path D:\a\GOESP\GOESP\GOESP\Release\AVX\GOESP_AVX.dll -Destination D:\a\GOESP\GOESP\GOESP\ready\
            Remove-Item -LiteralPath "Release" -Force -Recurse
    - name: SHA1 AVX
      working-directory: GOESP/ready
      run: sha1sum GOESP_AVX.dll > GOESP_AVX.dll.sha1
      
    - name: Rename AVX2
      working-directory: GOESP
      run: 
          |
          ren GOESP_AVX.vcxproj GOESP_AVX2.vcxproj
          ren GOESP_AVX.vcxproj.filters GOESP_AVX2.vcxproj.filters
      shell: cmd
    - name: Prepare AVX2
      working-directory: GOESP
      run: |
            ((Get-Content GOESP_AVX2.vcxproj -Raw) -replace '<EnableEnhancedInstructionSet>AdvancedVectorExtensions</EnableEnhancedInstructionSet>','<EnableEnhancedInstructionSet>AdvancedVectorExtensions2</EnableEnhancedInstructionSet>') | Set-Content GOESP_AVX2.vcxproj
      shell: pwsh
    - name: MSBuild AVX2
      working-directory: GOESP
      run: msbuild GOESP_AVX2.vcxproj /p:Configuration=Release /p:Platform=Win32 /p:VisualStudioVersion=16.0 /v:m /p:OutDir="D:\a\GOESP\GOESP\GOESP\Release\AVX2\"
    - name: Move to one folder AVX2
      working-directory: GOESP
      run: |
            Copy-Item -Path D:\a\GOESP\GOESP\GOESP\Release\AVX2\GOESP_AVX2.dll -Destination D:\a\GOESP\GOESP\GOESP\ready\
            Remove-Item -LiteralPath "Release" -Force -Recurse
    - name: SHA1 AVX2
      working-directory: GOESP/ready
      run: sha1sum GOESP_AVX2.dll > GOESP_AVX2.dll.sha1
      
    - name: Get Injector
      run: |
            git clone https://github.com/playday3008/Osiris-GOESP-inj.git
            cd .\Osiris-GOESP-inj\src
            & '.\__asm_emit generator.exe' (Get-Random -Minimum 300 -Maximum 500) 1
            Remove-Item -Path GOESP-inj\JunkDef.h
            Move-Item -Path junk.h -Destination GOESP-inj\JunkDef.h
            cd .\GOESP-inj
            msbuild GOESP-inj.vcxproj /p:Configuration=Release /p:VisualStudioVersion=16.0 /v:m
            Copy-Item -Path D:\a\GOESP\GOESP\Osiris-GOESP-inj\src\GOESP-inj\Release\GOESP-inj.exe -Destination "D:\a\GOESP\GOESP\GOESP\ready\GOESP-Injector.exe"
      shell: pwsh
      
    - name: Open CFG folder (BAT)
      run: |
            Add-Content -path "D:\a\GOESP\GOESP\GOESP\ready\Open CFG folder (Открыть папку с КФГ).bat" -value "@echo off`r`necho `"Wait a second`"`r`nIF EXIST %USERPROFILE%\Documents\GOESP (`r`n%SystemRoot%\explorer.exe `"%USERPROFILE%\Documents\GOESP`"`r`n) ELSE (`r`nmkdir %USERPROFILE%\Documents\GOESP`r`n%SystemRoot%\explorer.exe `"%USERPROFILE%\Documents\GOESP`"`r`n)`r`nstart `"`" https://youtu.be/xY3oX_cpAVs"
      shell: pwsh
      
    - name: Push to Discord
      run: |
            Start-Sleep -s 180
            Compress-Archive -Path D:\a\GOESP\GOESP\GOESP\ready\* -DestinationPath "D:\a\GOESP\GOESP\GOESP\GOESP BETA Windows (${{github.run_id}}).zip"
            cUrl.exe -X POST -H 'Content-Type: multipart/form-data' -F 'file=@D:\a\GOESP\GOESP\GOESP\GOESP BETA Windows (${{github.run_id}}).zip' -F 'payload_json={\"embeds\": [{\"description\": \"Added:\nRainbow Bar by: <@249952042557243402>\nCrashhandler support by:: <@249952042557243402> and <@667331854948499457>\nAntiDetection by: 0xE232FE (GitHub)\nSave/Load confirmation by: <@249952042557243402>\nBSOD button by: <@249952042557243402>\nWatermark by: <@249952042557243402>\n(Nickname, username, tickrate, velocity, FPS, ping, current time)\nMenu Colors by: <@249952042557243402>\nHitmarker by: <@249952042557243402>\nHitmarker Damage Indicator by: ZerGo0, improved by RyDeem added by <@249952042557243402>\nBomb Timer by: <@249952042557243402>\",\"color\": 65280,\"fields\": [{\"name\": \"GitHub repo\",\"value\": \"[Click!](https://github.com/playday3008/GOESP/tree/beta)\"}],\"author\": {\"name\": \"GOESP (BETA)\"}}]}' ${{ secrets.DISCORD_HOOK }}
      shell: pwsh
      
    - uses: actions/upload-artifact@v2
      with:
        name: GOESP Release Windows
        path: GOESP/ready
