name: Windows

# Controls when the action will run. 
on: [push, pull_request]

jobs:
  # Build & upload dll files
  windows-build:
    name: Build (Windows) (BETA)
    runs-on: windows-latest
    
    # Build 3 dll files with with different intrinsics
    strategy:
      matrix:
        intrinsic:
          - "StreamingSIMDExtensions2"
          - "AdvancedVectorExtensions"
          - "AdvancedVectorExtensions2"
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2.3.4
      
      # Add msbuild command to enviroment
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    # Activate cache
    - name: Start DXSDK Cache
      id:   dxcache
      uses: actions/cache@v2
      with:
       path: DXSDK
       key:  dxsdk-includes

    # Download DXSDK if needed, otherwise use cache
    # Only extract files that are required
    - name:  Download DXSDK if needed
      if:    steps.dxcache.outputs.cache-hit != 'true'
      run:   |
         curl -L https://download.microsoft.com/download/a/e/7/ae743f1f-632b-4809-87a9-aa1bb3458e31/DXSDK_Jun10.exe -o _DX2010_.exe
         7z x _DX2010_.exe DXSDK/Include
         7z x _DX2010_.exe DXSDK/Lib/x86
         rm -fR _DX*_ _DX*_.exe
      shell: bash
      
      # Build GOESP
    - name: Build
      run: msbuild GOESP/GOESP.vcxproj /p:Platform=Win32 /p:Configuration=Release /p:Instruction_Set=${{ matrix.intrinsic }} /v:m
      env:
        DXSDK_DIR: ${{ github.workspace }}\DXSDK\
      
      # Move dll to separate folder
    - name: Prepare to upload
      working-directory: GOESP
      run: |
        New-Item -Path "${{ github.workspace }}\GOESP\" -Name "ready" -ItemType "directory"
        Copy-Item -Path ${{ github.workspace }}\GOESP\Release\GOESP.dll -Destination ${{ github.workspace }}\GOESP\ready\GOESP_${{ matrix.intrinsic }}.dll
      
      # Calculate SHA1 for dll
    - name: SHA1
      working-directory: GOESP/ready
      run: |
        sha1sum GOESP_${{ matrix.intrinsic }}.dll > GOESP_${{ matrix.intrinsic }}.dll.sha1
        (Get-Content -Path GOESP_${{ matrix.intrinsic }}.dll.sha1).Substring(0, 40)
      
      # Upload dll and sha1 sum to artifacts
    - name: Upload (${{ matrix.intrinsic }}) (BETA)
      uses: actions/upload-artifact@v2.2.3
      with:
        name: GOESP BETA Windows (${{ matrix.intrinsic }})
        path: GOESP/ready/*


  # Upload dll files and injector in one archive
  windows-upload-all:
    needs: windows-build
    name: Upload All (Windows) (BETA)
    runs-on: windows-latest
    
    steps:
    # Redownload earlier uploaded dll and sha1 files (SSE2)
    - name: Download (StreamingSIMDExtensions2)
      uses: actions/download-artifact@v2.0.9
      with:
        name: GOESP BETA Windows (StreamingSIMDExtensions2)
      
    # Redownload earlier uploaded dll and sha1 files (AVX)
    - name: Download (AdvancedVectorExtensions)
      uses: actions/download-artifact@v2.0.9
      with:
        name: GOESP BETA Windows (AdvancedVectorExtensions)
      
    # Redownload earlier uploaded dll and sha1 files (AVX2)
    - name: Download (AdvancedVectorExtensions2)
      uses: actions/download-artifact@v2.0.9
      with:
        name: GOESP BETA Windows (AdvancedVectorExtensions2)
      
    # Prepare dll files to upload (just rename it and recalculate SHA1 to compare)
    - name: Prepare to upload
      run: |
        mkdir ready
        cp GOESP_StreamingSIMDExtensions2.dll ready/GOESP_SSE2_BETA.dll
        cp GOESP_AdvancedVectorExtensions.dll ready/GOESP_AVX_BETA.dll
        cp GOESP_AdvancedVectorExtensions2.dll ready/GOESP_AVX2_BETA.dll
        cd ready
        sha1sum GOESP_SSE2_BETA.dll > GOESP_SSE2_BETA.dll.sha1
        sha1sum GOESP_AVX_BETA.dll > GOESP_AVX_BETA.dll.sha1
        sha1sum GOESP_AVX2_BETA.dll > GOESP_AVX2_BETA.dll.sha1
      
    # Recheck SHA1 sum and compare it (why not?)
    - name: Check SHA1 match
      run: |
        $exitCode=0
        echo "GOESP_SSE2_BETA.dll SHA1 hash:"
        If ((Get-Content -Path GOESP_StreamingSIMDExtensions2.dll.sha1).Substring(0, 40) -ne (Get-Content -Path ready\GOESP_SSE2_BETA.dll.sha1).Substring(0, 40)) { echo "NOT Equal"; $exitCode++ } Else { echo Equal; }
        echo "GOESP_AVX_BETA.dll SHA1 hash:"
        If ((Get-Content -Path GOESP_AdvancedVectorExtensions.dll.sha1).Substring(0, 40) -ne (Get-Content -Path ready\GOESP_AVX_BETA.dll.sha1).Substring(0, 40)) { echo "NOT Equal"; $exitCode++ } Else { echo Equal; }
        echo "GOESP_AVX2_BETA.dll SHA1 hash:"
        If ((Get-Content -Path GOESP_AdvancedVectorExtensions2.dll.sha1).Substring(0, 40) -ne (Get-Content -Path ready\GOESP_AVX2_BETA.dll.sha1).Substring(0, 40)) { echo "NOT Equal"; $exitCode++ } Else { echo Equal; }
        exit $exitCode
      
    # Reupload it as one archive
    - name: Upload All (BETA)
      uses: actions/upload-artifact@v2.2.3
      with:
        name: GOESP BETA Windows All
        path: ready/*
